<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% block page_title %}Home{% endblock page_title %} | Andy Yao</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/baseStyle.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/pygmentsCode.css')}}">
    <script type="text/javascript" async
     src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
</head>
<body class="container">
    <aside class="sidebar">
    <ul>
		<li><a href="{{ url_for("index") }}" hreflang="en">Home</a></li>
		<li><a href="{{ url_for("about") }}" hreflang="en">About Me</a></li>
		<li><a href="{{ url_for("courses") }}" hreflang="en">Courses</a></li>
		<li><a href="{{ url_for("cv") }}" hreflang="en">CV</a></li>
        <li><a href="https://github.com/AndyCYao">Github</a></li>
	</ul>
    </aside>
    <div class="main-section">
    <h1><a href="{{ url_for("index") }}">Andy Yao</a></h1>
{% block content %}
    <p>Default content to be displayed</p>
{% endblock content %}
    </div>
    <footer class="site-footer">
        &copy; 2018 Andy Yao
    </footer>
</body>
</html>

