{% extends "base.html" %}

{% block content %}
    <ul>
    <div itemscope itemtype="http://schema.org/Blog">
    {% for post in posts | reverse %}
        <li>
            <b><a href= "{{ url_for('post', name=post.path.replace('posts/', '')) }}"></b>
                <b><span itemprop = "name">{{post.title}}</span></b>  
            </a> | <small><time datetime="{{ post.date }}">{{ post.date}}</time> </small>  
            <em><small>
                <p itemprop="description">
                {%- if post.meta.summary and post.meta.summary|striptags|trim %}
                {{- post.summary|trim }}
                {%- elif post.html|striptags|trim -%}
                    {{- post.html|striptags|trim|truncate(135) }}
                {%- endif -%}
                {%- if post.meta.image %}
                    <img src="{{- post.image }}">
                {%- endif -%}
                </p>
            </small>
            </em>
        </li>
    {% else %}
        <li>No stuff.</li>
    {% endfor %}
    </div>
    </ul>
{% endblock content %}